body {
  /* background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);*/
  background: rgb(254, 122, 255);
  background: linear-gradient(
    96deg,
    rgba(254, 122, 255, 1) 0%,
    rgba(55, 154, 237, 1) 67%
  );
}

.credits {
  position: relative;
  padding-left: 00%;
  padding-top: 7.3%;
  z-index: 4;
}

.randonButton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 19%;
  cursor: pointer;
  z-index: 3;
  box-shadow: 6px 10px 20px #414647;
  /* box-shadow: 10px 10px 2px black;*/
  opacity: 10;
  border-radius: 90%;
}

#statistiquesRight {
  position: absolute;
  width: 24.7%;
  height: 99.9%;
  margin-top: -37.8%;
  margin-left: 75.3%;
  z-index: 2;
  background: rgb(105, 177, 239);
  background: linear-gradient(
    21deg,
    rgba(105, 177, 239, 1) 0%,
    rgba(235, 119, 238, 1) 83%
  );
  box-shadow: -2px 0 18px 3px;
}
