@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0%;
  padding: 0%;
  border: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgb(254, 122, 255);
  background: linear-gradient(
    96deg,
    rgba(254, 122, 255, 1) 0%,
    rgba(55, 154, 237, 1) 67%
  );
  min-height: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


.randonButton {
  left: 40%;
  top: 5%;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 10px 10px 10px black;
}

/* Statistique box */
.statistiquesRight {

  top: 1%;
  width: 5%;
  background: rgb(105, 177, 239);
  background: linear-gradient(
  21deg,
  rgba(105, 177, 239, 1) 0%,
  rgba(235, 119, 238, 1) 83%
);
box-shadow: -6px 0px 15px -4px;
}

/* input form */
#input-Prenom {
  top: 0%;
  left: 2%;
  width: 13%;
  padding: 0.3%;
  box-sizing: border-box;
}

#input-Nom {
  top: 0%;
  left: 2%;
  width: 13%;
  padding: 0.3%;
  box-sizing: border-box;
}

#input-email {
  top: 0%;
  left: 2%;
  width: 13%;
  padding: 0.3%;
  box-sizing: border-box;
}

/* Statistiques */
.articleStatsl {
  top: 0%;
  left: 2%;
  font-size: 24px;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
}

#rightstats{

  left: 2%;
}
/* Boutton legal */
#creditsButton {
  left: 2%;
  top: 0%;
}

#legalButton {
  left: 2%;
  top: 0%;
}

/* Page d'explication */
.explicationPage {
  background: rgb(80, 196, 67);
  background: linear-gradient(
    90deg,
    rgba(80, 196, 67, 1) 15%,
    rgba(132, 218, 115, 1) 57%
  );
  top: 0%;
  width: 100%;
  height: 100%;
}

#greenDescription {
  top: 0%;
  left: 2%;
  width: 15%;
}

#titleDesc {
  left: 2%;
  top: 0%;
}

.desc1 {
  width: 37%;
  left: 2%;
  top: 0%;
  font-size: 19px;
  text-shadow: 2px 2px 17px black;
}

.desc2 {
  width: 37%;
  left: 2%;
  top: 0%;
  font-size: 19px;
  text-shadow: 2px 2px 17px black;
}

.desc3 {
  width: 37%;
  left: 2%;
  top: 0%;
  font-size: 19px;
  text-shadow: 2px 2px 17px black;
}
#popCo {
  z-index: 10;
  display: none;
  top: 0%;
  left: 2%;
  background-color: #db2e2e;
  box-shadow: -11px 17px 35px 2px #404040;
  height: 70%;
  width: 65%;
  border-radius: 3%;
  opacity: 80%;
}

#pop1 {
  left: 2%;
  top: 0%;
  align-self: center;
  color: black;
  text-shadow: 1px 1px 80px black;
}

#pop2 {
  left: 2%;
  top: 0%;
  align-self: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 80px black;
}

#header1{
  top: 2%; 
  left: 2%;
}